.orb-one {
    background: #78FFD9;
    filter: opacity(50%);
}

.orb-two {
    background: #78E2FF;
    filter: opacity(50%);
}

.orb-three {
    background: #9578FF;
    filter: opacity(50%);
}

.orb-four {
    background: #789EFF;
    filter: opacity(50%);
}

/* Glow Effect on Buttons */

.on {
    filter: opacity(100%);
    pointer-events: none;
    box-shadow: 0px 0px 40px #FEFBE1;
}

/* Make All Buttons Red When Player Loses */

.red-all {
    background: #FF2020;
    filter: opacity(100%);
    pointer-events: none;
    box-shadow: 0px 0px 40px #FEFBE1;
}