
header {
    text-align: center;
}

.status-bar {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0px 0px 40px #f3f9a7;
    border-color: rgb(255, 255, 255);
    border: 6px solid;
    border-radius: 15px;
    font-size: 1em;
    padding-top: 8px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

#name {
    float: left;
}

#level {
    float: right;
}

main {
    margin-top: 60px;
}

.grid {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    justify-items: center;
    grid-gap: 5px;
}

/* Buttons Style */

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    box-sizing: border-box;
    border: 20px solid;
}

/* Complimentary Color Scheme */

.orb-one {
    background: #FFB542;
    filter: opacity(50%);
}

.orb-two {
    background: #FF4298;
    filter: opacity(50%);
}

.orb-three {
    background: #42FFA9;
    filter: opacity(50%);
}

.orb-four {
    background: #428CFF;
    filter: opacity(50%);
}

/* Make All Buttons Red When Player Loses */

.red-all {
    background: #FF2020;
    filter: opacity(100%);
    pointer-events: none;
    box-shadow: 0px 0px 40px #FEFBE1;
}

/* Glow Effect on Buttons */

.on {
    filter: opacity(100%);
    pointer-events: none;
    box-shadow: 0px 0px 40px #FEFBE1;
}

/* Transition for Buttons */

.opacity {
    opacity: 0;
    transition: 700ms;
}

.addOpacity {
    opacity: 1;
    transition: 2000ms;
}

/* Win and Lose Message */

.messages {
    color: #f3f9a7;
    text-shadow: 0px 0px 10px #f3f9a7;
}

.hideMessages {
    visibility: hidden;
    display: none;
}

/* Style Buttons on All Pages */

.buttons {
    display: grid;
    margin: 0 auto;
    justify-items: center;
    grid-gap: 5px;
    widows: 170px;
}

#game-buttons {
    padding-top: 40px;
}

button {
    width: 170px;
    padding: 12px;
    font-family: Orbitron, sans-serif;
    font-size: .8em;
    font-weight: bolder;
    border: 6px solid;
    border-radius: 15px;
    border-color: #fff;;
    background-color: #161615;
    color: #fff;
    box-shadow: 0px 0px 30px #f3f9a7;
    outline: none;
    display: block;
}

button:hover {
    padding: 12px;
    font-family: Orbitron, sans-serif;
    font-size: .9em;
    font-weight: bolder;
    border: 6px solid;
    border-radius: 15px;
    border-color: #fff;;
    background-color: #161615;
    color: #fff;
    box-shadow: 0px 0px 30px orangered;
}

button:active {
    color: orangered;
    font-size: 18px;
}

