@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background-color: #161615;
    color: #fff;
    text-align: center;
    font-family: Orbitron, sans-serif;
}

h1 {
    font-family: Monoton, sans-serif;
    font-size: 5em;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3f9a7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f3f9a7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 0px 900px rgb(231, 212, 8); */